
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>

    <form>
        <button type="submit" formaction="/register">Register</button>
        <button type="submit" formaction="/login">Login</button>
    </form>
    

</body>
</html>
